USE [master]
GO
/****** Object:  Database [BOOK]    Script Date: 8/4/2018 12:51:28 PM ******/
CREATE DATABASE [BOOK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOOK', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BOOK.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BOOK_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\BOOK_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOOK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOOK]
GO
/****** Object:  Table [dbo].[AddBook]    Script Date: 8/4/2018 12:51:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AddBook](
	[BookName] [varchar](50) NOT NULL,
	[BookISBN] [varchar](50) NOT NULL,
	[BookAuthor] [varchar](50) NULL,
	[BookId] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AddBook] ([BookName], [BookISBN], [BookAuthor], [BookId]) VALUES (N'', N'0', N'', NULL)
INSERT [dbo].[AddBook] ([BookName], [BookISBN], [BookAuthor], [BookId]) VALUES (N'', N'0', N'', NULL)
INSERT [dbo].[AddBook] ([BookName], [BookISBN], [BookAuthor], [BookId]) VALUES (N'Computer Algorithm', N'34343434', N'Habibur Rahman', NULL)
USE [master]
GO
