USE [master]
GO
/****** Object:  Database [BOOK]    Script Date: 8/6/2018 10:40:53 PM ******/
CREATE DATABASE [BOOK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOOK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BOOK.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BOOK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BOOK_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOOK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOOK]
GO
/****** Object:  Table [dbo].[AddBook]    Script Date: 8/6/2018 10:40:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddBook](
	[BookName] [varchar](50) NOT NULL,
	[BookISBN] [varchar](50) NOT NULL,
	[BookAuthor] [varchar](50) NULL,
	[BookId] [int] IDENTITY(100,1) NOT NULL,
 CONSTRAINT [PK_AddBook] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AddBook] ON 

INSERT [dbo].[AddBook] ([BookName], [BookISBN], [BookAuthor], [BookId]) VALUES (N'Computer Architecture', N'3432356325343', N'Habibur Rahman', 100)
INSERT [dbo].[AddBook] ([BookName], [BookISBN], [BookAuthor], [BookId]) VALUES (N'Computer Architecture', N'3432356325344', N'Habibur Rahman', 101)
INSERT [dbo].[AddBook] ([BookName], [BookISBN], [BookAuthor], [BookId]) VALUES (N'Computer Architecture', N'3432356325345', N'Habibur Rahman', 102)
SET IDENTITY_INSERT [dbo].[AddBook] OFF
USE [master]
GO
